* {
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

header div{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://i.pinimg.com/564x/1e/e2/fb/1ee2fb9717554a1dbb09b924f19f8e72.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    display: flex;
    flex-direction: column;
    margin: 2% 1%;
    justify-content: center;
    align-items: center;
    text-align: -webkit-center;
}

#linha1, #linha2, #linha3, #linha4, #linha5 {
    display: grid;
    justify-content: center;
    margin: 2% 5%;
}

.input {
    margin: 0% 1% 5% 1%;
}

#nome {
    width: 80%;
}

button {
    display: block ;
    justify-content: center ;
    align-items: center ;
    margin: auto ;
    padding: 2%;
    border:none;
    border-radius: 5px;
    font-size: 110%;
    border: solid rgb(46, 127, 219);
}

button:hover {
    background-color: rgb(42, 34, 155) ;
    color:blanchedalmond
}